<!DOCTYPE html>
<html>
<head>
  <title>FixMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <p><%= notice %></p>
        <p><%= alert %></p>
        <%= link_to 'Sign_in', new_user_session_path %>
        <%= link_to 'Sign_up', new_user_registration_path %>
        <%= yield %>
        <footer>
          <% if user_signed_in? %>
            Hello, <%= current_user.first_name %> you are finished.
          <% end %>
        </footer>
      </div>
    </div>
  </div>

</body>
</html>
